<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="dashboard.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">INICIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto"> 
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/empleo">EMPLEOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/adminUsuarios">ADMINISTRACIÓN DE USUARIOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MI PERFIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PROCESOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Salir</a>
                    </li>
                </ul>
            </div>
            <% if (username && username !== null){  %>  
                <span><%= username %></span>
            <% } %>
        </div>
    </nav>

    <!-- Texto "GESTION DE CONTRATOS" centrado sobre la imagen -->
    <div class="titled">
        GESTION DE CONTRATOS
    </div>

    <!-- Imágenes centradas en la parte inferior -->
    
    <div class="element-container">   
        <div style="display: flex; flex-wrap: wrap; flex-direction: row;">
            <div style="margin-right: 30px;">
                <div style="border: 3px solid #fff;">
                    <div style="border-radius: 10px;">
                        <a href="/stories" style="text-decoration: none; color: inherit;">
                        <img src="images/Hand.jpg" alt="Testing " style="width: 200px;">
            </div>
            </div>
                <h5>  Historias de Éxito  </h5></a>
            </div><a href="/keep_forward" style="text-decoration: none; color: inherit;">
            <div style="margin-right: 30px;">
                <div style="border: 3px solid #fff;">
                    <div style="border-radius: 10px;">
                <img src="images/Hands.jpg" style="width: 220px;">
            </div>
            </div>
                <h5>Seguimos Avanzando</h5></a>
            </div>
            
                <div style="margin-right: 30px;">
                    <div style="border: 3px solid #fff;">
                    <div style="border-radius: 10px;">    
                <img src="images/Bag.jpg" style="width: 200px;">
            </div>
            </div>
                <h5>Bolsa de Empleo</h5>
            </div>
            </div>
        </div>
    
    
    <!-- Formulario de búsqueda -->
    <form class="d-flex flex-column align-items-center search-form">
        
        <input class="form-control me-2 search-input" type="search" placeholder="Buscar" aria-label="Buscar">
        <div style="margin-top: 10px;">
        <button class="btn btn-success search-button" type="submit">Buscar</button>
        </div>
    </form>
    
    <div class="d-flex flex-column align-items-center noticias-form">
        <button class="btn btn-success noticias-button" onclick="redirectToNoticias()">Noticias</button>
    </div>
    
    <script>
        function redirectToNoticias() {
            window.location.href = "/noticias"; // Redirige a la página de noticias
        }
    </script>
    
    <form class="d-flex flex-column align-items-center ayuda-form">
        <button class="btn btn-success noticias-button" type="submit">Ayuda</button>
    </form>

    </main>
    <footer>
    
    </footer>
    
</body>

    <% if (alertMessage !== null && alertMessage !== undefined) { %>
        <script>
            // Utilizar SweetAlert2 para mostrar la alerta
            const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
            });
            Toast.fire({
            icon: "success",
            title: '<%= alertMessage %>'
            });
        </script>
    <% } %>

</html>