<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noticias</title>

    <!-- Enlace a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="keep_forward.css">
  

    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/dashboard">INICIO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto"> 
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">EMPLEOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">MI PERFIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PROCESOS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main>
        <div class="text_boxkf">
            <h2> Seguimos Avanzando </h2>

            
            <div class="paragraph_kf"> 
            <p><div class="subtitle_kf"> Inicio: </div> Mega-Prime fue fundada en 2024 por cinco emprendedores con experiencia en contrataciones y tecnología de la información. Reconociendo la necesidad de simplificar y mejorar el proceso de contratación, decidieron crear una plataforma integral que combinara la gestión de empleo con la aplicación de empleo móvil.</p>

            <div class="paragraph_kf"> 
            <p><div class="subtitle_kf"> Desarrollo Inicial: </div>En los primeros años, el equipo de Mega-Prime se centró en el desarrollo del software principal. Esto incluyó la creación de herramientas para la gestión de vacantes, la selección de candidatos, la documentación de empleo y la automatización de procesos administrativos relacionados con el reclutamiento.</p>
                
            <div class="paragraph_kf"> 
            <p><div class="subtitle_kf"> Lanzamiento del Producto: </div> En 2024, Mega-Prime lanzó su producto principal al mercado. La plataforma ofrecía a las empresas una solución integral para todas sus necesidades de contratación, desde la publicación de ofertas de trabajo hasta la gestión de candidatos y la documentación de empleo. Al mismo tiempo, lanzaron la plataforma web para candidatos que les permitía buscar y postularse a empleos.</p>
                
            <div class="paragraph_kf"> 
            <p><div class="subtitle_kf"> Expansión y Adaptación: </div>A medida que la demanda de su producto crecía, Mega-Prime se expandió para atender a una variedad de industrias y tamaños de empresas. También continuaron mejorando su plataforma con nuevas características, como la integración de herramientas de evaluación de habilidades y la compatibilidad con sistemas de gestión del talento.</p>
                
            <div class="paragraph_kf"> 
            <p><div class="subtitle_kf"> Enfoque en la Experiencia del Usuario: </div> EmpleaTech siempre ha puesto énfasis en proporcionar una experiencia de usuario excepcional. En 2024, realizaron una importante actualización de la interfaz de usuario en su sitio web, haciendo que la navegación fuera más intuitiva y mejorando las funcionalidades.</p>
                
            <div class="paragraph_kf"> 
            <p><div class="subtitle_kf"> Enfoque en la Experiencia del Usuario: </div>Con su enfoque centrado en el usuario y su compromiso con la innovación, Mega-Prime está estableciendo un nuevo estándar en la industria de búsqueda de empleo en línea. Para aquellos que buscan avanzar en sus carreras profesionales o encontrar el trabajo de sus sueños, esta plataforma promete ser una herramienta invaluable en el camino hacia el éxito laboral.</p>
                
    
            </div>
    </main>
       
    </main>
    
</body>

</html>
