<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesion</title>

    <link rel="stylesheet" href="login.css">
    <!-- Incluir SweetAlert2 mediante CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="container">
        <div class="login-card">
            <h2>Iniciar Sesión</h2>
            <form action="/login" method="post" class="form-class">
                <label for="username">Usuario:</label>
                <input type="text" id="username" placeholder="Usuario" name="username" required>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="xxxxxxxx" required>

                <button type="submit">Iniciar Sesión</button>

                <div class="links">
                    <a href="/createUser">Crear Usuario</a>
                    <a href="/recoveryPassword">Recuperar Contraseña</a>
                </div>
            </form>
        </div>
    </div>
</body>


    <% if (alertMessage !== null && alertMessage !== undefined) { %>
        <%
            let alertType = 'error';
            let alertTitle = 'INICIO DE SESIÓN FALLIDO';
            if (alertMessage.includes('Tu usuario es:')) {
                alertType = 'success';
                alertTitle = 'USUARIO CREADO CON ÉXITO';
            }
            if (alertMessage.includes('Creacion de usuario Exitoso')) {
                alertType = 'success';
                alertTitle = 'USUARIO CREADO CON ÉXITO';
            }
         %>
        <script>
            // Utilizar SweetAlert2 para mostrar la alerta
            Swal.fire({
                icon: '<%= alertType %>',
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
            });
        </script>
    <% } %>

</html>